pillow
torch
torchvision
timm
git+https://github.com/facebookresearch/dinov2.git
git+https://github.com/facebookresearch/dinov3.git
git+https://github.com/facebookresearch/segment-anything.git
numpy
opencv-python
einops
tqdm
omegaconf
hydra-core
pyyaml
matplotlib
